<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Components.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Components.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>Components.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CExamServlet</servlet-name>
        <servlet-class>Components.CExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentExam</servlet-name>
        <servlet-class>Components.StudentExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartExam</servlet-name>
        <servlet-class>Components.StartExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>Components.ResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Results</servlet-name>
        <servlet-class>Components.Results</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamRegister</servlet-name>
        <servlet-class>Components.ExamRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultServlet2</servlet-name>
        <servlet-class>Components.ResultServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminExam</servlet-name>
        <servlet-class>Components.AdminExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExam</servlet-name>
        <servlet-class>Components.DeleteExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterQuestion</servlet-name>
        <servlet-class>Components.AlterQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>Components.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-class>Components.EditQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestion2</servlet-name>
        <servlet-class>Components.EditQuestion2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminResults</servlet-name>
        <servlet-class>Components.AdminResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentResponse</servlet-name>
        <servlet-class>Components.StudentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResponse</servlet-name>
        <servlet-class>Components.DeleteResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CExamServlet</servlet-name>
        <url-pattern>/CExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentExam</servlet-name>
        <url-pattern>/StudentExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartExam</servlet-name>
        <url-pattern>/StartExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/ResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Results</servlet-name>
        <url-pattern>/Results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamRegister</servlet-name>
        <url-pattern>/ExamRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultServlet2</servlet-name>
        <url-pattern>/ResultServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminExam</servlet-name>
        <url-pattern>/AdminExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExam</servlet-name>
        <url-pattern>/DeleteExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterQuestion</servlet-name>
        <url-pattern>/AlterQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestion</servlet-name>
        <url-pattern>/EditQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestion2</servlet-name>
        <url-pattern>/EditQuestion2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminResults</servlet-name>
        <url-pattern>/AdminResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentResponse</servlet-name>
        <url-pattern>/StudentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResponse</servlet-name>
        <url-pattern>/DeleteResponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
